ul{
  list-style: none;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-preview{
  background-color: orange;
  text-align: center;
  padding: 1rem 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  
}
.todo-preview-container{
  display: flex;
}